.user-card-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    row-gap: 20px;
}
.chn-h1, .cn-h2, .exp-h3{
    color: var(--Deep-Violet, #21092F);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.ch-input, .cn-input{
    width: 327px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid var(--Light-Grey, #DFDEE0);
    background: var(--White, #FFF);
    color: var(--Deep-Violet, #21092F);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 16px;
}
.month,.year{
    width: 72px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid var(--Light-Grey, #DFDEE0);
    background: var(--White, #FFF);
    color: var(--Deep-Violet, #21092F);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 16px;
}
.digitalcode{
    width: 164px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid var(--Light-Grey, #DFDEE0);
    background: var(--White, #FFF);
    color: var(--Deep-Violet, #21092F);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 16px;
}
.cardholder-name, .card-number,.card-date{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    row-gap: 10px;
}
.expiration-date{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 11px;
    row-gap: 10px;
}
button{
    margin-top: 28px;
    width: 327px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--Deep-Violet, #21092F);
    color: var(--White, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
button:hover{
    background-color: green;
}